
<div id='payment'>
  <%= title(@payment.amount, "Payment Details") %>

  <span id='author'>Created by <%= @payment.user.email %></span>
  <h4>Amount: <%= @payment.amount %></h4>
  <h4>Date of Payment: <%= @payment.payment_date %></h4>
</div>
