<% title(@user.name, "Payment Details") %>
<h3><span id='user'>Payment Details for <%= @user.name %></span></h3>

<div id='payment'>
  <h4>Amount: <%= @payment.amount %></h4>
  <h4>Date of Payment: <%= @payment.payment_date %></h4>
</div>
